@tailwind base;
@tailwind components;
@tailwind utilities;

.bp5-tree-node-label {
    padding-left: 0.5rem;
    font-size: 0.75rem;
}

.numeric-input input, .normalization-input input {
    width: 72px !important;
    max-width: 72px !important;
    min-width: 72px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.normalization-input-label {
    width: 28px;
    min-width: 28px;
    font-size: 0.75rem;
    color: rgb(107 114 128);
    text-transform: uppercase;
    letter-spacing: 0.04em;
}

.numeric-input input {
    width: 40px !important;
    max-width: 40px !important;
    min-width: 40px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
}