@tailwind base;
@tailwind components;
@tailwind utilities;

.bp5-tree-node-label {
    padding-left: 0.5rem;
    font-size: 0.75rem;
}

.numeric-input input, .scale-input-min input, .scale-input-max input{
    width: 40px !important;
    max-width: 40px !important;
    min-width: 40px !important;
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.scale-slider {
    width: 90px !important;
    min-width: 50px !important;
    max-width: 90px !important;
}

.normalization-input input {
    width: 96px !important;
    max-width: 96px !important;
    min-width: 96px !important;
}

.normalization-input-label {
    font-size: 0.75rem;
    font-weight: 600;
    color: rgb(107 114 128);
    min-width: 24px;
}