{% extends "webadmin/base.html" %} {% load i18n %} {% load static %} 

{% block title %}
  Server Side Browser
{% endblock %} 

{% block link %}
  {{ block.super }}
  <link
    rel="stylesheet"
    href="{% static main_css %}"
  />
{% endblock %} 

{% block script %} 
  {{ block.super }}
  <!-- keep-alive ping so that OMERO session doesn't die -->
  {% include "webclient/base/includes/ping.html" %} 
  <script src="{% static main_js %}"></script>
{% endblock %}
{% block center_details %} {% endblock %}
{% block content %} 
  {{ block.super }} 
  {% csrf_token %}
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="root"></div>
{% endblock %}
